<!DOCTYPE html>
<html>
<head>
   <title>Ada's Pizza Express</title>
</head>
<body>
   <h1><%= title %></h1>
   <h2><%= message %></h2>
   <p>Check out our <a href="<%= menuUrl %>">Menu</a>.</p>
</body>
</html>