<!--
  This view should only display one pizza, with flavor, location, and picture.
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pizzas</title>
  </head>
  <body>
  <p> pizza-single.ejs<p>
    <p> Flavor: <%= pizza.flavor %> <p>
    
  </body>
</html>