<!--
  This view should only display one pizza, with flavor, location, and picture.
-->



<h1> pizza page single pizza </h1>

<% for (let i = 0; i < pizza.length; i++) { %>
	<p> <%= JSON.stringify(pizza[i].flavor) %> </p>
	<p> <%= JSON.stringify(pizza[i].location) %> </p>
	<img src="<%= pizza[i].image %>">
<% } %>