<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ada's Pizza - Pizza-Index</title>
  </head>
  <body>
  	<% pizza.forEach(pie => { %>
  		<div>
  			<h1><%= pie.flavor %></h1>
  			<h3><%= pie.location %></h3>
  			<img src="<%= pie.image %>">
  		</div>
  	<% }) %>
  </body>
</html>