<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
--> 

<!DOCTYPE html>
<html>
<head>
	<title>ABC</title>
</head>
<body>

<h1>this is rendering from pizza-index.ejs</h1>
<% for (let i = 0; i<pizza.length; i++) { %>
	<p><%= JSON.stringify(pizza[i].flavor) %></p>
    <p><%= JSON.stringify(pizza[i].location) %></p>
    <img src='<%= pizza[i].image %>'>
<% } %>

</body>
</html>