
<h1>this renders from pizza index ejs</h1>

<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
--> 

<h1> pizza-index ejs file. works. oh yeah. look: </h1>

<% for (let i = 0; i < pizza.length; i++) { %>
	  <h2><%= JSON.stringify(pizza[i].flavor) %> </h2>
	  <p><%= JSON.stringify(pizza[i].location) %> </p>
	  <img src='<%= pizza[i].image %>' >
	<% } %>
