<!DOCTYPE html>
<html>
<head>
   <title>Ada's Pizza Express - Pizza Menu</title>
</head>
<body>
      <h1>Pizza Menu</h1>
      <% pizza.forEach( (item) => { %>
         <h2><%= item.flavor %></h2>
         <p>Location: <%= item.location %></p>
         <img src="<%= item.image %>">
      <% }); %>
</body>
</html>