<!DOCTYPE html>
<html>
<head>
   <title>Ada's Pizza Express - Individual Pizza Details</title>
</head>
<body>
      <h1>Pizza: <%= individualPizza.flavor %> </h1>
      <h2>Location: <%= individualPizza.location %></h2>
      <img src="<%= individualPizza.image %>">
</body>
</html>